[submodule "sip_proxy"]
	path = sip_proxy
	url = https://github.com/mark201200/sip_proxy.git
[submodule "ims_tester"]
	path = ims_tester
	url = https://github.com/mark201200/ims_tester.git
[submodule "Tesi"]
	path = Tesi
	url = https://git@git.overleaf.com/6a01d8aeccd4f65ef6ad9521
